
<a href="/admin">< Back</a><br><br>


<form action="/admin/sources/delete" method="POST">

    <label for="deleteSource"><b>Choose the Sources To Be Deleted</b></label> <br>
    <% for (let i=0; i<jsonData.rssSources.length; i++) { %>
        <input type="checkbox" id="<%=jsonData.rssSources[i].title%>" name="deleteSource" value="<%=jsonData.rssSources[i].title%>_<%=jsonData.rssSources[i].extraInfo%>">
        <label for="<%=jsonData.rssSources[i].title%>"> <span class="deleteSourceTitle"><%=jsonData.rssSources[i].title%></span> - <%=jsonData.rssSources[i].extraInfo%></label>
        <br>
    <% } %>

    <br>
    <input type="submit" value="Confirm Deletion" />

</form>